@model IEnumerable<PTSL.GENERIC.Web.Core.Model.EntityViewModels.Meetings.MeetingVM>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-10">
                    <h4>Rejected Meetings List</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="tableExport_filter" style="width:100%;">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Meeting Name</th>
                                <th>Project</th>
                                <th>Meeting Type</th>
                                <th>MeetingStartTime</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{
                            int i = 1;
                        }
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var data in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@data.MeetingTitle</td>
                                        <td>@data.ProjectRequest?.ProjectName</td>
                                        <td>@data.MeetingType?.MeetingTypeName</td>
                                        <td>@data.MeetingStartTime</td>
                                        <td>

                                            <button onclick="Accept(@data.Id)" class="btn btn-success btn-sm">Accept</button>
                                            <button onclick="Reject(@data.Id)" class="btn btn-danger btn-sm">Reject</button>
                                            <a href="/ClientMeeting/Details?id=@data.Id&backUrl=/Meeting/RejectedList" class="btn btn-info btn-sm">Details</a>
                                            <button onclick="showDeleteConfirmMessage(@data.Id)" class="btn btn-danger btn-sm">Delete</button>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#tableExport_filter').DataTable({
            pageLength: 5
        });
    });
    function showDeleteConfirmMessage(id) {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function () {
            var data = { 'id': id };
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/Meeting/Delete",
                data: data,
                datatype: "json",
                success: function (result) {
                    console.log(result);
                    var message = result.Message;
                    var executionState = result.executionState;
                    if (executionState != null) {
                        swal("Deleted!", "Your imaginary file has been deleted.", "success");
                        $(".confirm").on('click', function () {
                            window.location.reload();
                        });
                    }
                },
                error: function (xmlhttprequest, textstatus, errorthrown) {
                    swal("Not Deleted!", "Your imaginary file has not been deleted.", "error");
                }
            });
        });
    }

    function Accept(id) {
        swal({
            title: "Are you sure?",
            text: "You will accept the client Request!",
            type: "success",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Accept it!",
            closeOnConfirm: false
        },
            function () {

               
                var data = { 'id': id };

                $.ajax({
                    type: "POST",
                    url: "/Meeting/Accept",
                    cache: false,
                    data: data,
                    dataType: 'json',
                    success: function (response) {
                        $(".loader").fadeOut("slow");
                        swal(
                            'Sucess',
                            'Client Accepted Successfully',
                            'success'
                        );
                        window.location.href = "/Meeting/PendingList";
                    },
                    error: function () {
                        $(".loader").fadeOut("slow");
                        swal(
                            'Unexpected',
                            'Unknown error occurred',
                            'error'
                        );
                    }
                });
            });

    }

    function Accept(id) {
        swal({
            title: "Are you sure?",
            text: "You will reject the client Request!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, reject it!",
            closeOnConfirm: false
        },
            function () {

               
                var data = { 'id': id };

                $.ajax({
                    type: "POST",
                    url: "/Meeting/Reject",
                    cache: false,
                    data: data,
                    dataType: 'json',
                    success: function (response) {
                        $(".loader").fadeOut("slow");
                        swal(
                            'Sucess',
                            'Client Rejected Successfully',
                            'success'
                        );
                        window.location.href = "/Meeting/PendingList";
                    },
                    error: function () {
                        $(".loader").fadeOut("slow");
                        swal(
                            'Unexpected',
                            'Unknown error occurred',
                            'error'
                        );
                    }
                });
            });

    }
</script>