@model PTSL.GENERIC.Web.Core.Model.EntityViewModels.Sqtc_Client.ClientVM
@using PTSL.GENERIC.Web.Core.Helper.Enum;
@{
    ViewBag.Title = "Details";
    ViewBag.activeMenu = "Clients";
}

<style>
    fieldset {
        padding: 0px 15px;
        border: 1px solid gray;
    }

        fieldset legend {
            width: auto;
        }
</style>

<style>
    input, select {
        height: 30px !important;
        line-height: 10px !important;
        font-weight: 400 !important;
        color: black !important;
    }

    legend {
        font-weight: 500 !important;
        font-size: 20px !important;
    }
</style>

<div class="card">
    <div class="card-header">
        <h4>
            <a href="@ViewBag.backUrl" class="mr-1 back">
                <svg width="20" height="20" viewBox="0 0 32 32">
                    <path fill="currentColor" d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16l10 10z" />
                </svg>
            </a>
            Client Details
        </h4>
    </div>

    <div class="card-body">
        <div class="card-body">
            <div class="card-body mt-2 gray-card">
                <fieldset>
                    <legend>Client Information</legend>
                    <div class="row">
                        <div class="col-md-12" style="padding-bottom:15px">
                            <div class="form-group">
                                <label style="font-size:15px;">Client Name: <b>@Model?.ClientName</b></label>
                            </div>
                            <div class="form-group">
                                <label style="font-size:15px;">User Name: <b>@Model?.UserName</b></label>
                            </div>
                            <div class="form-group">
                                <label style="font-size:15px;">Working Email: <b>@Model?.WorkingEmail</b></label>
                            </div>
                            <div class="form-group">
                                <label style="font-size:15px;">Mobile Number: <b>@Model?.MobileNumber</b></label>
                            </div>
                            <div class="form-group">
                                <label style="font-size:15px;">Organization Name: <b>@Model.OrganizationName</b></label>
                            </div>
                            <div class="form-group">
                                <label style="font-size:15px;">Organization Email: <b>@Model.OrganizationEmail</b></label>
                            </div>
                            <div class="form-group">
                                <label style="font-size:15px;">Designation: <b>@Model.Designation.Name</b></label>
                            </div>
                            <div class="form-group">
                                <label style="font-size:15px;">Client Status: <b>@Model.ClientStatus</b></label>
                            </div>
                            <div class="form-group">
                                <label style="font-size:15px;">Official Letter: </label>
                                
                                    <a class="d-block" target="_blank" href="@Model.OfficialLetter">Download Now</a>
                                
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
