@model IEnumerable<PTSL.GENERIC.Web.Core.Model.EntityViewModels.Project.TestCaseVM>
@{
    ViewBag.Title = "Index";
    ViewBag.activeMenu = "Test Cases";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-10">
                    <h4>Test Cases List</h4>
                </div>
                <div class="col-md-2 text-right">
                    <a href="/TestCase/Create" class="badge badge-success badge-shadow"><img src="/img/plus-vector.png">Add New</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive  mt-2 green-card">
                    <form action="Search" class="form-horizontal">
                        <div class="col-md-12 ">
                            <div class="row custom">
                                <div class="form-group col-md-4">
                                    <label class="m-0">Test Case No<span style="color: red;"></span></label>
                                    <input type="text" class="form-control col-md-12" id="TestCaseNo" name="TestCaseNo" value="@ViewBag.TestCaseNo" placeholder="Enter Test Case No">
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="m-0">Project <span style="color: red;"></span></label>
                                    @Html.DropDownList("ProjectRequestId", null, "Choose Project", htmlAttributes: new { @class = "form-control col-md-12" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="m-0">Test Scenario <span style="color: red;"></span></label>
                                    @Html.DropDownList("TestScenarioId", null, "Choose Test Scenario", htmlAttributes: new { @class = "form-control col-md-12"})
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="m-0">Test Category <span style="color: red;"></span></label>
                                    @Html.DropDownList("TestCategoryId", null, "Choose Category", htmlAttributes: new { @class = "form-control col-md-12"})
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="m-0">Planned Execution Date<span style="color: red;">*</span></label>
                                    <input type="date" class="form-control col-md-12" id="PlannedExecutionDate" name="PlannedExecutionDate" value="" placeholder="Enter Planned Execution Date">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="m-0">Actual Execution Date<span style="color: red;"></span></label>
                                    <input type="date" class="form-control col-md-12" id="ActualExecutionDate" name="ActualExecutionDate" value="" placeholder="Enter Actual Execution Date">
                                </div>
                            </div>

                        </div>

                        <div class="form-group col-md-12">
                            <button id="submit" class="btn btn-primary submit-btn pull-right btn-sm">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="tableExport_filter" style="width:100%;">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Test Case No</th>
                                <th>Test Scenario No</th>
                                <th>Project</th>
                                <th>Test Case Name</th>
                                <th>Test Category</th>
                                <th> Executed By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{
                            int i = 1;
                        }
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var data in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@data.TestCaseNo</td>
                                        <td>@data.TestScenario?.TestScenarioNo</td>
                                        <td>@data.ProjectRequest?.ProjectName</td>
                                        <td>@data.TestCaseName</td>
                                        <td>@data.TestCategory?.Name</td>
                                        <td>@data.User?.UserName</td>
                                        <td>
                                            <a href="/TestCase/Edit?id=@data.Id" class="btn btn-icon" title="Edit"><img src="~/img/edit.png" /></a>
                                            <a href="/TestCase/Details?id=@data.Id" class="btn btn-icon" title="Details"><img src="~/img/view.png" /></a>
                                            <button onclick="showDeleteConfirmMessage(@data.Id)" class="btn btn-icon" title="Delete"><img src="~/img/delete.png" /></button>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<script>
    $(document).ready(function () {
        $('#tableExport_filter').DataTable({
            pageLength: 5
        });
        $("#TestScenarioId, #TestCategoryId, #ProjectRequestId").select2();
    });
    // $("#TestScenarioId").select2();

    function showDeleteConfirmMessage(id) {
        swal({
            title: "Are you sure?",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function () {
            var data = { 'id': id };
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/TestCase/Delete",
                data: data,
                datatype: "json",
                success: function (result) {
                    console.log(result);
                    var message = result.Message;
                    var executionState = result.executionState;
                    if (executionState != null) {
                        swal("Deleted!", "Your imaginary file has been deleted.", "success");
                        $(".confirm").on('click', function () {
                            window.location.reload();
                        });
                    }
                },
                error: function (xmlhttprequest, textstatus, errorthrown) {
                    swal("Not Deleted!", "Your imaginary file has not been deleted.", "error");
                }
            });
        });
    }
</script>