@model IEnumerable<PTSL.GENERIC.Web.Core.Model.EntityViewModels.Documents.AllTypesOfDocumentVM>
@using PTSL.GENERIC.Web.Core.Helper.Enum
@using PTSL.GENERIC.Web.Core.Helper.Enum.Documents
@{
    ViewBag.Title = "Index";
    ViewBag.activeMenu = "Agreement Documents";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-10">
                    <h4>Agreement Document List</h4>
                </div>
                <div class="col-md-2 text-right">
                    <a href="/AgreementDocument/CreateAgreementDoc" class="badge badge-success badge-shadow"><img src="/img/plus-vector.png">Add New</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="tableExport_filter" style="width:100%;">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Project</th>
                                <th>Document Type</th>
                                <th>Testing Type</th>
                                <th>Version No</th>
                                <th>Created Date</th>
                                <th>Approval Status</th>
                                <th>Client Forward Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{
                            int i = 1;
                        }
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var data in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@data.ProjectRequest?.ProjectName</td>
                                        <td>@data.DocumentType</td>
                                        <td>@data.TestingType</td>
                                        <td>@data.ViewVersionNo</td>
                                        <td>
                                            @data.CreatedAt.ToString("dd/MMM/yyyy hh:mm:ss")
                                        </td>
                                        <td>@data.DocumentApprovalStatus</td>
                                        <td>@(data.DocumentAmendmentState == 0 ? "" : data.DocumentAmendmentState)</td>

                                        <td style="width: 20%;">
                                            @if (data.HasEditAndDltPrmsn || data.DocumentAmendmentState == DocumentAmendmentState.Amendmented)
                                            {
                                                <a class="tn btn-icon" href="/AllTypesDocument/Edit/@data.Id" title="Edit Document" target="_blank"><img src="~/img/edit.png" /></a>
                                            }
                                            <a href="@data.FilePath" class="btn btn-icon" target="_blank" title="View File"><img src="~/img/view.png" /></a>

                                            @if ((data.DocumentApprovalStatus == DocumentApprovalStatus.Accept && (data.DocumentAmendmentState == 0 || data.DocumentAmendmentState == DocumentAmendmentState.Generated)) ||
                                                (data.DocumentApprovalStatus == DocumentApprovalStatus.Pending && data.DocumentAmendmentState == DocumentAmendmentState.Amendmented && data.HasEditAndDltPrmsn))
                                            {
                                                <a class="btn btn-info" onclick="forwardDocumentToClient(@data.Id)"><i class="fa fa-forward" title="Forward Document to Client"></i></a>
                                            }
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#tableExport_filter').DataTable({
            pageLength: 5
        });
        $("#ProjectRequestId").select2();
        $("#TaskOfProjectId").select2();
        $("#AgreementDocumentSeverity").select2();
        $("#AgreementDocumentStatus").select2();
    });

    function forwardDocumentToClient(id) {
        swal({
            title: "Are you sure?",
            text: "You file will forward to the client for recheck!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, forward it!",
            closeOnConfirm: false
        }, function () {
            var data = { 'id': id };
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/AllTypesDocument/ForwardDocToClient",
                data: data,
                datatype: "json",
                success: function (result) {
                    console.log(result);
                    var message = result.Message;
                    if (result.success == true) {
                        swal("Forwarded!", result.message, "success");
                        $(".confirm").on('click', function () {
                            window.location.reload();
                        });
                    }
                },
                error: function (xmlhttprequest, textstatus, errorthrown) {
                    swal("Error", "Not forwarded.", "error");
                }
            });
        });
    }

    function showDeleteConfirmMessage(id) {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function () {
            var data = { 'id': id };
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/AgreementDocument/Delete",
                data: data,
                datatype: "json",
                success: function (result) {
                    console.log(result);
                    var message = result.Message;
                    var executionState = result.executionState;
                    if (executionState != null) {
                        swal("Deleted!", "Your imaginary file has been deleted.", "success");
                        $(".confirm").on('click', function () {
                            window.location.reload();
                        });
                    }
                },
                error: function (xmlhttprequest, textstatus, errorthrown) {
                    swal("Not Deleted!", "Your imaginary file has not been deleted.", "error");
                }
            });
        });
    }
</script>
<script>
    $("#ProjectRequestId").change(function () {
       
        var selectedItem = $(this).val();
        var TaskList = $("#TaskOfProjectId");
        if (selectedItem == "" || selectedItem == null) {
            return true;
        }

        $.ajax({
            cache: false,
            type: "GET",
            url: "/Task/GetTaskListsByProJectId",
            data: { "id": selectedItem },
            success: function (data) {
               
                console.log(data);
                TaskList.html('<option value="">Choose..</option>');
                $.each(data, function (id, option) {
                    TaskList.append($('<option></option>').val(option.Id).html(option.TaskTitle));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve data.');
            }
        });
    });
</script>